<% layout("/layouts/boilerplate") %>
<body>
<div class="row">
      <div class="col-8 offset-2">
    <h2 class="my-4 list-title">Create a New Listing</h2>
        <form method="POST" action="/listings/<%=listing._id%>?_method=PUT">
      <div>
        <label for="title" class="form-label">Title:</label>
        <input name="listing[title]" class="form-control" id="title" value = "<%=listing.title%>" type="text">
      </div>
      <br>

      <div>
        <label for="description" class="form=label">Description:</label>
        <textarea name="listing[description]" rows="4" class="form-control" id="description"
          placeholder="Enter description" type="text"><%=listing.description%></textarea>
      </div>
      <br>
      <div>
        <label for="image" class="form-label">Image Link:</label>
        <input name="listing[image][url]" class="form-control" id="image" value = "<%=listing.image.url%>" type="text">
      </div>

      <br>
      <div class="row row-cols-2">
        <div>
        <label for="price" class="form-label">Price:</label>
        <input name="listing[price]" class="form-control" id="price" value = "<%=listing.price%>" type="text">
      </div>
      <br>
      <div>
        <label for="country" class="form-label">Country:</label>
        <input name="listing[country]" class="form-control" id="country" value = "<%=listing.country%>" type="text">
      </div>
      </div>
      <br>
      <div>
        <label for="location" class="form-label">Location:</label>
        <input name="listing[location]" class="form-control" id="location" value = "<%=listing.location%>" type="text">
      </div>
      <br><br>
      <button type="submit" class="btn btn-primary px-5">Edit</button>
    </form>
    <br><br>
    </div></div>
</body>